body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #F8F9F9;
    font-family: sans-serif;
}

.container {
    text-align: center;
}

.text {
    color: #333; /* Changed from #F8F9F9 to a visible color */
    letter-spacing: 1px;
    margin: 18px;
}

.page {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto 5px;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

form input {
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
    height: 35px;
    font-size: 17px;
}

form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background: #efefef;
}

input[type="text"], input[type="password"] {
    padding-left: 10px;
    height: 35px;
    font-size: 17px;
}

input::placeholder {
    font-weight: normal;
    font-size: 13px;
    transition: 0.3s ease;
}

input:focus::placeholder {
    font-size: 10px;
    transform: translateY(-13px);
}

form button {
    border: none;
    background: #0095f6;
    padding: 13px 0;
    margin-top: 10px;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

form button:active {
    background: #2c58fe;
    transform: scaleX(0.995);
}

.option {
    color: #5a5a5a;
    margin: 15px;
    font-weight: bold;
    position: relative;
}

.option::before,
.option::after {
    position: absolute;
    content: '';
    width: 37%;
    height: 2px;
    background: #b6b6b6;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.option::before {
    left: 0%;
}

.option::after {
    right: 0%;
}

.fblink {
    margin-top: 30px;
    width: 100%;
}

.fblink span {
    font-size: 18px;
    color: #021897;
    margin-right: 5px;
}

.fblink a {
    text-decoration: none;
    font-weight: bold;
    color: #021897;
}

.forget-id {
    margin: 15px;
}

.forget-id a {
    text-decoration: none;
    color: #021897;
    font-size: 12px;
    font-weight: 500;
}

.page .signup {
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    padding: 10px;
}

.signup a {
    text-decoration: none;
    margin-left: 5px;
    color: #008aff;
    font-weight: bold;
}
